In [19]:
import pandas as pd
import numpy as np
import os
import sys

df = pd.read_csv("D:/Data Science Projects/Player Performance Prediction/data/raw/players_21.csv")
df.head()

,sofifa_id,player_url,short_name,long_name,age,dob,height_cm,weight_kg,nationality,club_name,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
0,158023,https://sofifa.com/player/158023/lionel-messi/...,L. Messi,Lionel Andrés Messi Cuccittini,33,1987-06-24,170,72,Argentina,FC Barcelona,...,66+3,65+3,65+3,65+3,66+3,62+3,52+3,52+3,52+3,62+3
1,20801,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,35,1985-02-05,187,83,Portugal,Juventus,...,65+3,61+3,61+3,61+3,65+3,61+3,54+3,54+3,54+3,61+3
2,200389,https://sofifa.com/player/200389/jan-oblak/210002,J. Oblak,Jan Oblak,27,1993-01-07,188,87,Slovenia,Atlético Madrid,...,32+3,36+3,36+3,36+3,32+3,32+3,33+3,33+3,33+3,32+3
3,188545,https://sofifa.com/player/188545/robert-lewand...,R. Lewandowski,Robert Lewandowski,31,1988-08-21,184,80,Poland,FC Bayern München,...,64+3,65+3,65+3,65+3,64+3,61+3,60+3,60+3,60+3,61+3
4,190871,https://sofifa.com/player/190871/neymar-da-sil...,Neymar Jr,Neymar da Silva Santos Júnior,28,1992-02-05,175,68,Brazil,Paris Saint-Germain,...,67+3,62+3,62+3,62+3,67+3,62+3,49+3,49+3,49+3,62+3

In [20]:
df.info()
df.describe()
df.columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18944 entries, 0 to 18943
Columns: 106 entries, sofifa_id to rb
dtypes: float64(18), int64(44), object(44)
memory usage: 15.3+ MB

Index(['sofifa_id', 'player_url', 'short_name', 'long_name', 'age', 'dob',
       'height_cm', 'weight_kg', 'nationality', 'club_name',
       ...
       'lwb', 'ldm', 'cdm', 'rdm', 'rwb', 'lb', 'lcb', 'cb', 'rcb', 'rb'],
      dtype='object', length=106)

In [21]:
df.drop(["sofifa_id", "player_url", "long_name", "dob", "international_reputation", "work_rate", "body_type", "real_face", "player_tags", "player_traits", "team_jersey_number", "loaned_from", "joined", "contract_valid_until", "nation_position", "nation_jersey_number", "defending_marking",  "ls","st","rb","rcb","cb","lcb","lb","rwb","rdm","cdm","ldm","lwb","rm","rcm","cm","rs","lcm","lm","ram","cam","lam","rw","rf","cf","lf","lw"],axis=1,inplace=True)

In [22]:
df.head()

,short_name,age,height_cm,weight_kg,nationality,club_name,league_name,league_rank,overall,potential,...,mentality_vision,mentality_penalties,mentality_composure,defending_standing_tackle,defending_sliding_tackle,goalkeeping_diving,goalkeeping_handling,goalkeeping_kicking,goalkeeping_positioning,goalkeeping_reflexes
0,L. Messi,33,170,72,Argentina,FC Barcelona,Spain Primera Division,1.0,93,93,...,95,75,96,35,24,6,11,15,14,8
1,Cristiano Ronaldo,35,187,83,Portugal,Juventus,Italian Serie A,1.0,92,92,...,82,84,95,32,24,7,11,15,14,11
2,J. Oblak,27,188,87,Slovenia,Atlético Madrid,Spain Primera Division,1.0,91,93,...,65,11,68,12,18,87,92,78,90,90
3,R. Lewandowski,31,184,80,Poland,FC Bayern München,German 1. Bundesliga,1.0,91,91,...,79,88,88,42,19,15,6,12,8,10
4,Neymar Jr,28,175,68,Brazil,Paris Saint-Germain,French Ligue 1,1.0,91,91,...,90,92,93,30,29,9,9,15,15,11

In [23]:
df.describe()

,age,height_cm,weight_kg,league_rank,overall,potential,value_eur,wage_eur,weak_foot,skill_moves,...,mentality_vision,mentality_penalties,mentality_composure,defending_standing_tackle,defending_sliding_tackle,goalkeeping_diving,goalkeeping_handling,goalkeeping_kicking,goalkeeping_positioning,goalkeeping_reflexes
count,18944.000000,18944.000000,18944.000000,18719.000000,18944.000000,18944.000000,1.894400e+04,18944.000000,18944.000000,18944.000000,...,18944.000000,18944.000000,18944.000000,18944.000000,18944.000000,18944.000000,18944.000000,18944.000000,18944.000000,18944.000000
mean,25.225823,181.190773,75.016892,1.357070,65.677787,71.086729,2.224813e+06,8675.852513,2.936603,2.363017,...,53.828231,48.050412,57.978674,47.581767,45.546505,16.446052,16.236486,16.103357,16.225982,16.551309
std,4.697354,6.825672,7.057140,0.739327,7.002278,6.109985,5.102486e+06,19654.774894,0.667132,0.766469,...,13.724072,15.671721,12.118390,21.402461,20.953997,17.577332,16.845480,16.519399,17.017341,17.878121
min,16.000000,155.000000,50.000000,1.000000,47.000000,47.000000,0.000000e+00,0.000000,1.000000,1.000000,...,9.000000,6.000000,12.000000,5.000000,4.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,21.000000,176.000000,70.000000,1.000000,61.000000,67.000000,3.000000e+05,1000.000000,3.000000,2.000000,...,45.000000,38.750000,50.000000,27.000000,24.000000,8.000000,8.000000,8.000000,8.000000,8.000000
50%,25.000000,181.000000,75.000000,1.000000,66.000000,71.000000,6.500000e+05,3000.000000,3.000000,2.000000,...,55.000000,49.000000,59.000000,55.000000,52.000000,11.000000,11.000000,11.000000,11.000000,11.000000
75%,29.000000,186.000000,80.000000,1.000000,70.000000,75.000000,1.800000e+06,7000.000000,3.000000,3.000000,...,64.000000,60.000000,66.000000,65.000000,63.000000,14.000000,14.000000,14.000000,14.000000,14.000000
max,53.000000,206.000000,110.000000,4.000000,93.000000,95.000000,1.055000e+08,560000.000000,5.000000,5.000000,...,95.000000,92.000000,96.000000,93.000000,90.000000,90.000000,92.000000,93.000000,91.000000,90.000000

In [24]:
df.isnull().sum().sort_values(ascending=False).head(30)

gk_speed              16861
gk_diving             16861
gk_handling           16861
gk_positioning        16861
gk_reflexes           16861
gk_kicking            16861
pace                   2083
dribbling              2083
physic                 2083
passing                2083
shooting               2083
defending              2083
release_clause_eur      995
club_name               225
league_name             225
league_rank             225
team_position           225
player_positions          0
wage_eur                  0
weak_foot                 0
preferred_foot            0
overall                   0
weight_kg                 0
short_name                0
nationality               0
age                       0
height_cm                 0
value_eur                 0
potential                 0
skill_moves               0
dtype: int64

In [25]:
df = df.drop(columns=[col for col in df.columns if col.startswith('gk')])

In [27]:
df.isnull().sum().sort_values(ascending=False).head(20)

dribbling             2083
physic                2083
defending             2083
pace                  2083
shooting              2083
passing               2083
release_clause_eur     995
club_name              225
league_name            225
league_rank            225
team_position          225
overall                  0
height_cm                0
age                      0
short_name               0
weight_kg                0
nationality              0
skill_moves              0
weak_foot                0
preferred_foot           0
dtype: int64

In [28]:
cols_to_impute = ['dribbling', 'physic', 'defending', 'pace', 'shooting', 'passing']
df[cols_to_impute] = df[cols_to_impute].fillna(df[cols_to_impute].mean())

df['release_clause_eur'] = df['release_clause_eur'].fillna(df['release_clause_eur'].median())

df['value_eur'] = df['value_eur'].fillna(df['value_eur'].median())

df['club_name'] = df['club_name'].fillna('Unknown')
df['league_name'] = df['league_name'].fillna('Unknown')
df['league_rank'] = df['league_rank'].fillna(df['league_rank'].median())
df['team_position'] = df['team_position'].fillna('Unknown')

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18944 entries, 0 to 18943
Data columns (total 57 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   short_name                  18944 non-null  object
 1   age                         18944 non-null  int64
 2   height_cm                   18944 non-null  int64
 3   weight_kg                   18944 non-null  int64
 4   nationality                 18944 non-null  object
 5   club_name                   18944 non-null  object
 6   league_name                 18944 non-null  object
 7   league_rank                 18944 non-null  float64
 8   overall                     18944 non-null  int64
 9   potential                   18944 non-null  int64
 10  value_eur                   18944 non-null  int64
 11  wage_eur                    18944 non-null  int64
 12  player_positions            18944 non-null  object
 13  preferred_foot              18944 non-null  object
 14  weak_foot                   18944 non-null  int64
 15  skill_moves                 18944 non-null  int64
 16  release_clause_eur          18944 non-null  float64
 17  team_position               18944 non-null  object
 18  pace                        18944 non-null  float64
 19  shooting                    18944 non-null  float64
 20  passing                     18944 non-null  float64
 21  dribbling                   18944 non-null  float64
 22  defending                   18944 non-null  float64
 23  physic                      18944 non-null  float64
 24  attacking_crossing          18944 non-null  int64
 25  attacking_finishing         18944 non-null  int64
 26  attacking_heading_accuracy  18944 non-null  int64
 27  attacking_short_passing     18944 non-null  int64
 28  attacking_volleys           18944 non-null  int64
 29  skill_dribbling             18944 non-null  int64
 30  skill_curve                 18944 non-null  int64
 31  skill_fk_accuracy           18944 non-null  int64
 32  skill_long_passing          18944 non-null  int64
 33  skill_ball_control          18944 non-null  int64
 34  movement_acceleration       18944 non-null  int64
 35  movement_sprint_speed       18944 non-null  int64
 36  movement_agility            18944 non-null  int64
 37  movement_reactions          18944 non-null  int64
 38  movement_balance            18944 non-null  int64
 39  power_shot_power            18944 non-null  int64
 40  power_jumping               18944 non-null  int64
 41  power_stamina               18944 non-null  int64
 42  power_strength              18944 non-null  int64
 43  power_long_shots            18944 non-null  int64
 44  mentality_aggression        18944 non-null  int64
 45  mentality_interceptions     18944 non-null  int64
 46  mentality_positioning       18944 non-null  int64
 47  mentality_vision            18944 non-null  int64
 48  mentality_penalties         18944 non-null  int64
 49  mentality_composure         18944 non-null  int64
 50  defending_standing_tackle   18944 non-null  int64
 51  defending_sliding_tackle    18944 non-null  int64
 52  goalkeeping_diving          18944 non-null  int64
 53  goalkeeping_handling        18944 non-null  int64
 54  goalkeeping_kicking         18944 non-null  int64
 55  goalkeeping_positioning     18944 non-null  int64
 56  goalkeeping_reflexes        18944 non-null  int64
dtypes: float64(8), int64(42), object(7)
memory usage: 8.2+ MB

In [32]:
df = df.to_csv("D:/Data Science Projects/Player Performance Prediction/data/processed/players_21_cleaned.csv")